
    <!-- ******FAQ****** --> 
    <section id="faq" class="faq section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center">{% trans %}Frequently Asked Questions{% endtrans %}</h2>
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>{% trans %}Question 01{% endtrans %}</h3>
                        <p class="answer">{% trans %}Answer 01{% endtrans %}</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>{% trans %}Question 02{% endtrans %}</h3>
                        <p class="answer">{% trans %}Answer 02{% endtrans %}</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>{% trans %}Question 03{% endtrans %}</h3>
                        <p class="answer">{% trans %}Answer 03{% endtrans %}</p>
                    </div><!--//item-->
                </div><!--//faq-col-->
                <div class="faq-col col-md-6 col-sm-6 col-xs-12">
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>{% trans %}Question 04{% endtrans %}</h3>
                        <p class="answer">{% trans %}Answer 04{% endtrans %}</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>{% trans %}Question 05{% endtrans %}</h3>
                        <p class="answer">{% trans %}Answer 05{% endtrans %}</p>
                    </div><!--//item-->
                    <div class="item">
                        <h3 class="question"><i class="fa fa-question-circle"></i>{% trans %}Question 06{% endtrans %}</h3>
                        <p class="answer">{% trans %}Answer 06{% endtrans %}</p>
                    </div><!--//item-->
                </div><!--//faq-col-->
            </div><!--//row-->
            <div class="more text-center">
                <h4 class="title">{% trans %}More questions{% endtrans %}</h4>
                <a class="btn btn-lg btn-theme scrollto" href="#contact">{% trans %}Get in touch{% endtrans %}<i class="fa fa-arrow-circle-o-down"></i></a>
            </div>
        </div><!--//container-->
    </section><!--//faq-->
    