
    <!-- ******FEATURES****** --> 
    <section id="features" class="features section">
        <div class="container">
            <div class="row">
                <h2 class="title text-center sr-only">{% trans %}Features{% endtrans %}</h2>
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-bug"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">{% trans %}App Feature 01{% endtrans %}</h3>
                        <p>{% trans %}Outline app feature 01 here{% endtrans %}</p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-key"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">{% trans %}App Feature 02{% endtrans %}</h3>
                        <p>{% trans %}Outline app feature 02 here{% endtrans %}</p> 
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-graduation-cap"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">{% trans %}App Feature 03{% endtrans %}</h3>
                        <p>{% trans %}Outline app feature 03 here{% endtrans %}</p>   
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-3 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-language"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">{% trans %}App Feature 04{% endtrans %}</h3>
                        <p>{% trans %}Outline app feature 04 here{% endtrans %}</p>  
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
            
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-puzzle-piece"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">{% trans %}App Feature 05{% endtrans %}</h3>
                        <p>{% trans %}Outline app feature 05 here{% endtrans %}</p> 
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-cloud-upload"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">{% trans %}App Feature 06{% endtrans %}</h3>
                        <p>{% trans %}Outline app feature 06 here{% endtrans %}</p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-photo"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">{% trans %}App Feature 07{% endtrans %}</h3>
                        <p>{% trans %}Outline app feature 07 here{% endtrans %}</p> 
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//features-->
    