
    <!-- ******STORY****** --> 
    <section id="story" class="story section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-6 col-sm-6 col-xs-12 text-center">
                    <h2 class="title">{% trans %}Story behind the app{% endtrans %}</h2>
                    <p>{% trans %}Story_first_paragraph{% endtrans %}</p>
                    <p>{% trans %}Story_second_paragraph{% endtrans %}</p>
                </div><!--//content-->
                <div class="team col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1 col-xs-12">
                    <div class="row">
                        <div class="member col-md-6 text-center">
                            <img class="img-rounded" src="{{ asset('bundles/skaphandrusoceanlifeid/images/team/member-1.png') }}" alt="Luis Miguens" />
                            <p class="name">Luis Miguens</p>
                            <p class="title">Co-founder</p>
                            <ul class="connect list-inline">
                                <li><a target="_blank" href="https://www.linkedin.com/in/luismiguens" ><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="https://facebook.com/luis.miguens.16" ><i class="fa fa-facebook"></i></a></li>
                                <li class="row-end"><a target="_blank" href="https://twitter.com/LuisMiguens" ><i class="fa fa-twitter"></i></a></li>         
                            </ul>
                        </div><!--//member-->
                        <div class="member col-md-6 text-center">
                            <img class="img-rounded" src="{{ asset('bundles/skaphandrusoceanlifeid/images/team/member-2.png') }}" alt="João Pedro Silva" />
                            <p class="name">João Pedro Silva</p>
                            <p class="title">Co-founder</p>
                            <ul class="connect list-inline">
                                <li><a target="_blank" href="https://www.linkedin.com/in/hypselodoris" ><i class="fa fa-linkedin"></i></a></li>
                                <li><a target="_blank" href="https://www.facebook.com/hypselodoris" ><i class="fa fa-facebook"></i></a></li> 
                                <li class="row-end"><a target="_blank" href="https://www.flickr.com/photos/jpsilva1971/" ><i class="fa fa-flickr"></i></a></li>
                            </ul>
                        </div><!--//member-->
                    </div>
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->